extends layout.pug

block link
    -var pageName = 'Apps';
    
block content
    ul.list-group
    each componentInfo in apps
      .li.list-group-item
        b
          a(href='#{componentInfo.name}')= componentInfo.name
        p #{componentInfo.description}

